@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&family=Ubuntu&display=swap');
/* font-family: 'Overpass', sans-serif;
   font-family: 'Ubuntu', sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #eee; */
    height: 100vh;
    background:  linear-gradient(rgba(108, 99, 255, .3), rgba(108, 99, 255, .3)), url('images/undraw_bus_stop_re_h8ej.svg') center/cover no-repeat;
}
header{
    width: 90%;
    margin: 2.6rem auto;
    display: flex;
    justify-content: space-between;
}
h1{
    color: #6C63FF;
    font-size: 1.7rem;
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    font-weight: 900;
}
.fa-sack-dollar{
    color: #6C63FF;
    font-size: 1.9rem;
    margin-top: .35rem;
    position: fixed;
    right: 5%;
    z-index: 7;
}
nav{
    display: flex;
}
.profit-details{
    transition: .4s;
    transform: translateX(60%);
    position: fixed;
    top: 0;
    transition: .4s;
    height: 100vh;
    width: 75vw;
    z-index: 5;
    background-color: white;
    border-bottom-left-radius: 70px;
}
.hide-profit-details{
    transition: .4s;
    transform: translateX(-60%);
}
.passenger-counter-details{
    width: 90%;
    /* height: auto; */
    margin: 9rem auto;
}
h2{
    color: #6C63FF;
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8rem;
}
.people-entered-num{
    background-color: #6C63FF;
    border-radius: 10px;
    padding: .7em;
    width: 70px;
    height: 50px;
    color: white;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    /* justify-self: center */
}
.increment-and-save{
    width: 200px;
    margin: 2rem auto;
    /* border: 2px solid red; */
    font-family: 'Overpass', sans-serif;
    display: flex;
    justify-content: space-between;
}
.count-people{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #6C63FF;
    color: white;
    height: 40px;
    border-radius: 6px;
}
.take-count{
    font-size: 1.1rem;
    font-weight: 700;
}
.add-btn, .minus-btn{
    align-self: center;
}
.fa-circle-plus{
    font-size: 30px;
    color: #ebc139;
}
.fa-circle-minus{
    color: #a71e1e;
    font-size: 30px;
}
.save-btn{
    width: 200px;
    margin: -.9rem auto;
    background-color: #6C63FF;
    color: white;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    text-align: center;
    padding: .7em;
    font-size: 1.1rem;
    border-radius: 6px;
    transition: .4s;
}
.save-btn:active, .save-btn:focus{
    background-color: rgba(108, 99, 255, .8);
}
.passenger-entries{
    width: 90%;
    margin: -4rem auto;
}
.entries{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(60px, auto);
}
.entry{
    width: 50px;
}