@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&family=Ubuntu&display=swap');
/* font-family: 'Overpass', sans-serif;
   font-family: 'Ubuntu', sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #eee; */
    height: 100vh;
    background:  linear-gradient(rgba(108, 99, 255, .3), rgba(108, 99, 255, .3)), url('images/undraw_bus_stop_re_h8ej.svg') center/cover no-repeat;
}
header{
    width: 90%;
    margin: 2.6rem auto;
    display: flex;
    justify-content: space-between;
}
h1{
    color: #6C63FF;
    font-size: 1.7rem;
    font-family: 'Ubuntu', sans-serif;
}
.fa-sack-dollar{
    color: #6C63FF;
    font-size: 1.9rem;
    margin-top: .35rem;
}
nav{
    /* align-self: flex-end; */
}
