@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&family=Ubuntu&display=swap');
/* font-family: 'Overpass', sans-serif;
   font-family: 'Ubuntu', sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #eee; */
    height: 100vh;
    background:  linear-gradient(rgba(108, 99, 255, .3), rgba(108, 99, 255, .3)), url('images/undraw_bus_stop_re_h8ej.svg') center/cover no-repeat;
}
header{
    width: 90%;
    margin: 2.6rem auto;
    display: flex;
    justify-content: space-between;
}
h1{
    color: #6C63FF;
    font-size: 1.7rem;
    font-family: 'Ubuntu', sans-serif;
}
.fa-sack-dollar{
    color: #6C63FF;
    font-size: 1.9rem;
    margin-top: .35rem;
    position: fixed;
    right: 5%;
    z-index: 7;
}
nav{
    display: flex;
    /* align-self: flex-end; */
}
.profit-details{
    /* right: 0; */
    transition: .4s;
    transform: translateX(60%);
    position: fixed;
    top: 0;
    transition: .4s;
    /* transform: translateX(-60%); */
    height: 100vh;
    width: 55vw;
    z-index: 5;
    background-color: white;
    border-bottom-left-radius: 70px;
}
.hide-profit-details{
    transition: .4s;
    transform: translateX(-60%);
    
}
